body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  overflow-x: hidden;
  background-color: black;
}
/*-------NavBar-------*/
.nav-bar {
  width: 100%;
  margin: 0;
  color: white;
  background-color: #333;
  padding: 7px;
  -webkit-box-shadow: -3px 14px 12px -13px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: -3px 14px 12px -13px rgba(0, 0, 0, 0.58);
  box-shadow: -3px 14px 12px -13px rgba(0, 0, 0, 0.58);
}

.nav-bar li {
  color: white;
  display: inline-block;
  margin: 10px 30px;
  font-size: 22px;
  cursor: pointer;
  font-weight: 300;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3;
}
.nav-bar Li:hover {
  border-bottom: 2px solid black;
}
/*-------Task Selector-------*/
.logo {
  margin: auto;
  text-align: center;
  height: auto;
}

/* -------Logo editor*-------*/
.imageHolder {
  width: 50%;
  height: 50%;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 10px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.upload-container {
  clear: both;
  margin-left: 30px;
}
.mobileFrame {
  margin-left: 6%;
  width: 90%;
  height: auto;
  position: relative;
}
.innerTitle {
  top: 30%;
  left: 23%;
  position: absolute;
  z-index: 40;
}
.innerImage {
  left: 24%;
  top: 40%;

  width: 50%;
  position: absolute;
}
/*-------ImageCarousel-------*/
.app {
  min-height: 100vh;
  max-height: auto;
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  padding: 3%;
  paddingTop:5%;
}

.inputHide {
  display: none;
}
.result {
  min-height: 100%;
  max-height: auto;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}
.imageSlide {
  margin: 0.5%;
  width: 70%;
  max-height: 60vh;
  border-radius: 5px;
}
